.navbar-container {
  width: 100%;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 8.6rem !important;
  height: 72px;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}

.flag-dropdown {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative;
}

.flag-dropdown img {
  height: 16px;
  width: 24px;
}

.flag-dropdownBG {
  background-color: #262b31;
  padding: 8px;
}

.flag-dropdown svg {
  color: #bbbcbd;
  font-size: 12px;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.language-dropdown {
  position: absolute;
  top: 127%;
  left: 0;
  width: 137px;
  background: #262b31;
  border: 1px solid #262b31;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 0.7rem;
  overflow-y: auto;
}

.language-option {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  color: white;
}

.language-option:hover span {
  color: #61e4b6;
}

.language-option img {
  height: 16px;
  width: 24px;
}

.language-option span {
  font-size: 0.85rem;
  color: white;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2.5rem;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  transition: color 0.3s ease;
  position: relative;
}

.nav-menu li a:hover {
  color: #61e4b6;
}

.nav-login a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  padding: 0.6rem 1.2rem;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.nav-login a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #3498db;
}

.mobileMenu {
  display: none;
}

.mobileMenu1 {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: #191d21;
}

.nav-menu1 {
  display: flex;
  flex-direction: column;
  padding: 18px 10px;
}

.nav-menu1 a {
  border-bottom: 1px solid #272c31;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  overflow: hidden;
  padding: 20px 0;
  text-decoration: none;
}

.nav-menu1 a:hover {
  color: #61e4b6;
}
.affi {
  border: none !important;
}
.follow {
  border-top: 1px solid #2b3137;
  margin-bottom: 110px;
  padding-bottom: 96px;
  padding-top: 36px;
  margin-top: 30px;
}

.follow h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.followicon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.socaillink {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 0 10px;
}

.socaillink svg {
  margin: 0 13px;
}

@media (max-width: 1445px) {
  .navbar {
    padding: 0 2rem !important;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0 2rem !important;
  }

  .nav-menu {
    gap: 1.5rem;
  }

  .nav-menu li a {
    font-size: 0.9rem;
  }
}

@media (max-width: 770px) {
  .navbar {
    gap: 1rem;
    padding: 16px 2rem !important;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  .nav-brand {
    width: max-content;
  }

  .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem 0;
  }

  .language-dropdown {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 480px) {
  .navbar{
    padding: 16px 1rem !important;
  }
  .nav-menu {
    display: none;

    gap: 0.75rem;
  }

  .nav-menu li a {
    font-size: 0.85rem;
  }

  .mobileMenu {
    display: block;
  }
}
